[submodule "third/protobuf"]
	path = third/protobuf
	url = https://github.com/google/protobuf
[submodule "third/leveldb"]
	path = third/leveldb
	url = https://github.com/google/leveldb
[submodule "third/libco"]
	path = third/libco
	url = https://github.com/Tencent/libco
[submodule "googletest"]
	path = third/googletest
	url = https://github.com/google/googletest
